nav ul a,
nav .brand-logo {
  color: #444;
}

/*.favorites-body {
  background-image: url(kc-luk-188412.jpg)
}*/

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax img {
  width: 100vw;
}

.parallax-container {
  min-height: 380px;
  max-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

  .parallax-container .section {
    width: 100%;
  }

  #map {
   height: 700px;
   width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.park-photo {
  height: auto;
  width: 500px;
  max-width: 440px;
  max-height: 440px;
}

.favorites-button {
  margin-top: 5px;
}

footer.page-footer {
  margin: 0;
}
